html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
    height: 6847px;
}

/* html{
    overflow-x:hidden;
} */

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: DidotLTStd-Roman;
    src: url("./fonts/DidotLTStd-Roman.ttf");
  }
  
@font-face {
    font-family: GT-Cinetype-Regular;
    src: url("./fonts/GT-Cinetype-Regular.ttf");
  }
  
@font-face {
    font-family: Northwell;
    src: url("./fonts/Northwell.ttf");
  }


.gt-cin-tr{
    font-family: "GT-Cinetype-Regular";
}
.lin-did-std{
    font-family: "DidotLTStd-Roman";
}

.special-offer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 46px;
    background: #50735F;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 16px 0;
}

.hp1{
    padding-right: 12px;
    border-right: 1px solid #fff;
}


.hp2{
    padding-left: 12px;
}

.nav-link{
    color: #fff;
}

.header{
    background-image: url(./img/head.png);
    width: 100%;
    height: 700px;
}
.me-2::placeholder{
    color: #fff;
}
.navbar{
    padding: 0;
}

.sechp{
    height: 14px;
    width: 80px;
    font-size: 14px;
    padding: 0;
    border: none;
    background: #ffffff00;
    color: #fff;
}

.container{
    --bs-gutter-x: 0;
}

.treehouse{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 72px;
    margin-left: 700px;
}
.main-text{
    color: #fff;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
}

.little-clothes{
    margin-left: 737px;
    margin-top: 16px;
}

.big-impact{
    margin-top: 4px;
    margin-left: 631px;
}

.hed-par{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 740px;
    margin-top: 19.6px;
    width: 314px;
}

.hed-btn{
    color: #fff;
    background: #C58A46;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    border: none;
}
.shop-now{
    padding: 18px 48px;
}

.hed-button{
    margin-top: 48px;
    margin-left: 740px;
}
.arrow{
    height: 55px;
    width: 55px;
    /* padding-top: 5px; */
}
.arrow-img{
    height: 35px;
    width: 35px;
    padding-top: 5px;
    padding-right: 5px;
}

.btn:active{
    background: #C58A46;
}
.bot-par{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
}

.hed-bot-text{
    position: relative;
}
.buy-good{
    bottom: -80px;
    left: 103px;
}
.scroll{
    bottom: -80px;
    right: 101px;
}

.card1{
    width: 280px;
}

.read-more{
    padding: 18px 48px;
    border: 2px solid #50735F;
    background: #0000;
    color: #50735F;
}
.card1-arrow{
    padding: 13px 13px;
    border: 2px solid #50735F;
    background: #0000;
    color: #50735F;
}

.arrow-img1{
    height: 18px;
    width:  18px;
    padding-top: 5px;

}
.card1-welcome{
    Width:66px;
    Height:14px;
    position: absolute;
    Top:910px;
    Left:952px;
    font-weight: 400;
    font-size:14px;
    line-height:14px;
    color: #50735F;
}
.card1-treehouse{
    Width:242px;
    Height:96px;
    position: absolute;
    Top:940px;
    Left:952px;
    font-weight:400;
    font-size:48px;
    line-height:48px;
    color: #50735F;
}

.card1-mindfully{
    Width:279px;
    Height:80px;
    position: absolute;
    Top:1052px;
    Left:952px;
    font-weight:400;
    font-size:14px;
    line-height:19.6px;
    color: #50735F;
}

.card1-buttons{
    position: absolute;
    Top:1180px;
    Left:945px;
}

.child-img-card1{
    Width:360px;
    Height:405px;
    position: absolute;
    Top:866px;
    Left:551.73px;
}

.leaf-img-card1{
    Width:173px;
    Height:241px;
    position: absolute;
    Top:1089px;
    Left:422px;
}

.TreeHouse-img{
    Width:174px;
    Height:72.05px;
    position: absolute;
    Top:1290px;
    Left:461.33px;
}

.leaf{
    /* Width:150px;
    Height:263.27px; */
    position: absolute;
    Top:934.38px;
    Left:388.97px;
    z-index: -1;
}


.card2-our-care{
    Width:68px;
    Height:14px;
    position: absolute;
    Top:1536px;
    Left:103px;
    font-weight:400;
    font-size: 14px;
    line-height:14px;
    color: #50735F;
}

.card2-prioritize{
    Width:425px;
    Height:96px;
    position: absolute;
    color: #50735F;
    Top:1566px;
    Left:103px;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

.card2-list{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    font-family: "Northwell";
}

.li-card2-h4{
    font-weight: 400;
    font-size:20px;
    line-height: 40px;
    color: #50735F;
}

.li-card2-p{
    font-weight: 400;
    font-size: 14px;
    line-height:19.6px;
    color: #50735F;
    width: 360px;
}

.li-card2{
    position: absolute;
}

.li-card2-1{
    top:1702px;
    left:122px;
}

.li-card2-2{
    top:1850px;
    left:134px;
}
.li-card2-3{
    top:2061px;
    left:978px;
}

.li-card2-4{
    top:2209px;
    left:979px;
}

.magic-stick{
    width: 112.62px;
    height: 113px;
    position: absolute;
    top: 1443px;
    left: 1218.92px;
}

.childs-card2{
    position: absolute;
    Width:597px;
    Height:485px;
    Top:1536px;
    Left:740px;
}
.planet-card2{
    position: absolute;
    Width:214px;
    Height:248px;
    Top:2072px;
    Left:382px;
}
.art-girl-card2{
    position: absolute;
    z-index: -1;
    Top:2108px;
    Left:229px;
}

.shopping{
    position: absolute;
    Top:2480px;
    Left:646px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #50735F;
}

.looking-for{
    position: absolute;
    Top: 2510px;
    Left: 451px;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #50735F;
}

.category-main2{
    Width:1234px;
    Height:540px;
    position: absolute;
    Top:2603px;
    Left:103px;
}

.ul-main2{
    position: absolute;
    Top: 3174.68px;
    Left: 375px;
}

.li-main2{
    margin-right: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #50735F;
}

.leaf-main3{
    /* width: 41.16px;
    height: 164.84px; */
    position: absolute;
    top: 2570px;
    left: 1150px;
    /* angle: -99.09 deg; */
}

.li-active-main2{
    color: #C58A46;
    border-radius: 50%;
    margin-top: -10px;
    padding: 9px;
    border: 3px solid #C58A46;
}

.card1-main2{
    Width:720px;
    Height:560px;
    position: absolute;
    Top:3374px;
    background: #ADBBC4;
}

.lollipops{
    width: 105.15px;
    height: 76px;
    margin: 38px 0 30px 300px;
    /* position: absolute; */
    /* top: 3412px;
    left: 307px; */

}

.off-25{
    /* width: 168px;
    height: 64px;
    top: 3517px; */
    position: absolute;
    left: 276px;
    font-family: Northwell;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.save-yourself{
    margin-top: 90px;
    width: 314px;
    height: 80px;
    position: absolute;
    left: 203px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.main3-button{
    position: absolute;
    top: 347px;
    left: 250px;
}

.dresses{
    Width:280px;
    Height:256px;
    position: absolute;
    top: 453px;
    left: 220px;
}

.main3-children{
    width: 720px;
    height: 560px;
    position: absolute;
    top: 3374px;
    left: 720px;
}

.entire-collection{
    width: 398px;
    height: 36px;
    position: absolute;
    top: 3959px;
    left: 767px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.asterisk{
    width: 37px;
    height: 74px;
    position: absolute;
    top: 3958px;
    left: 726px;
    font-family: Northwell;
    font-size: 140px;
    font-weight: 400;
    line-height: 140px;
    letter-spacing: 0em;
    text-align: left;
    color: #C58A46;
}

.human-main4{
    width: 152px;
    height: 149.14px;
    position: absolute;
    top: 4243px;
    left: 644px;
}

.buy-less{
    /* width: 1190px; */
    height: 100px;
    position: absolute;
    top: 4379px;
    text-wrap: nowrap;
    margin-left: 90px;
    /* left: 250px; */
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;
    color: #50735F;
}
.shop-li{
    font-family: DidotLTStd-Roman;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.modal{
    --bs-modal-width: none;
}
.shop-tops{
    position: absolute;
    left: 103px;

}
.shop-bottoms{
    position: absolute;
    top: 98px;
    left: 103px;
}
.shop-roompers{
    position: absolute;
    top: 172px;
    left: 103px;
}
.shop-hats{
    position: absolute;
    top: 250px;
    left: 103px;
}
.shop-shop-all{
    position: absolute;
    top: 334px;
    left: 103px;
}
.modal-header{
    border-bottom: none;
}

.shop-collections{
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 8px;
}
.btn-close{
    position: absolute;
    right: 103px;
    top: 40px;
}

.img-shop{
    width: 491px;
    height: 422px;
    position: absolute;
    top: -25px;
    left: 846px;
    z-index: 2;
}
.leaf-shop{
    /* width: 155px;
    height: 169.75px; */
    position: absolute;
    top: 255px;
    left: 690px;
/* opacity: 0.6px
angle: 30.73 deg */
}

.delivery-shop{
    width: 113px;
    height: 14px;
    position: absolute;
    top: 450px;
    left: 103px;
    font-family: GT-Cinetype-Regular;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.contacts-shop{
    width: 58px;
    height: 14px;
    position: absolute;
    top: 450px;
    left: 270px;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.shirts-and-tees{
    width: 100px;
    height: 14px;
    position: absolute;
    top: 430px;
    left: 856px;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;    
    color: #fff;
}
.text-li-shop{
    font-family: GT-Cinetype-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.arrow-right-shop{
    width: 45px;
    height: 35px;
}

.arrow-right-shop1{
    position: absolute;
    top: 5px;
    left: 250px;
}

.arrow-right-shop2{
    position: absolute;
    top: 85px;
    left: 250px;
}

.ul-shop1{
    position: absolute;
    top: 5px;
    left: 400px;
}

.ul-shop2{
    position: absolute;
    top: 85px;
    left: 400px;
}



.text-li-shop{
    padding: 5px;
}

.top-li-shop{
    overflow: hidden;
}

.bottom-li-shop{
    overflow: hidden;
}




/* .btn-car{
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    transition: all .3s ease-in-out;
} */

.container1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.carousel-view {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    width: 2050px;
    padding: 44px 0;
    transition: all 0.25s ease-in;
    /* overflow-x: hidden; */
    left: 113px;
}

.carousel-view .item-list {
  width: 62%;
  padding: 50px 10px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; Firefox */
  overflow: auto;
  scroll-snap-type: x mandatory;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

/* .prev-btn {
  background: none;
  cursor: pointer;
   position: absolute; 
}

.next-btn {
  cursor: pointer;
  position: absolute; 
} */
.card-carosel{
    width: 386px;
    height: 435px;

}
.btn-car{
    border: none;
    background: #ffffff00;
    position: relative;
    top: -254px;
    
}

.prev-btn {
    right: -1170px;
}

.next-btn {
    right: -631px;
    top: 3663px;
}

.perfect-match{
    position: absolute;
    top: 4649px;
    left: 107px;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #50735F;
}

.shop-the-look{
    position: absolute;
    top: 4679px;
    left: 107px;
    font-family: DidotLTStd-Roman;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #50735F;
}

.main4-bg{
    width: 100%;
    height: 406px;
    position: absolute;
    top: 4990px;
    background: #D9C7BB;
    z-index: -1;
    right: -50px;
}

.main4-petal{
    position: absolute;
    top: 5263.64px;
    left: 55.9px;
    padding: 0;
    margin: 0;
}

.item{
    position: relative;
}

.look-hover{
    /* Width:385px; */
    position:relative;
    z-index: 10;
    visibility: hidden;
}
.look-hover-1{
    Height:435px;
    right: 433px;
    top: -10px;
}
.look-hover-3{
    Height:248px;
    top: 130px;
    right: 432px;
    top: 130px;
}
.look-hover-2{
    /* Height:248px; */
    right: 1733px;
    top: 3px;
}

.card-carosel2{
    right: 433px;
}
.card-carosel3{
    right: 866px;
}
.card-carosel4{
    right: 1299px;
}
.card-carosel5{
    right: 1300px;
}

.card-carosel1:hover .look-hover-1{
    visibility: visible;
}

.card-carosel2:hover .look-hover-2{
    visibility: visible;
}

.card-carosel3:hover .look-hover-3{
    visibility: visible;
}

.trust{
    width: 105px;
    height: 14px;
    position: absolute;
    top: 5506px;
    left: 668px;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #50735F;
}

.transperency{
    /* width: 590px; */
    height: 54px;
    position: absolute;
    top: 5536px;
    left: 425px;
    font-family: DidotLTStd-Roman;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #50735F;
}

.dress-drawing{
    width: 597px;
    height: 584px;
    position: absolute;
    top: 5630px;
    left: 422px;
}

.three-house2{
    width: 174px;
    height: 72.05px;
    position: absolute;
    top: 5630px;
    left: 345px;
    transform: rotate(-15deg);
}

.girl-who-speaks{
    position: absolute;
    top: 5966px;
    left: 1073px;
}

.kite{
    position: absolute;
    top: 5722px;
    left: -52px;
}

.main5-button{
    position: absolute;
    top: 6262px;
    left: 610px;
}

.hover-dot{
    width: 15px;
    height: 15px;
    background-color: #C58A46;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 9px rgba(197, 138, 70,0.3);
    margin: 30px;
}

.hover-dot1{
    position: absolute;
    Top:5767px;
    Left:760px;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 0px 7px rgba(197, 138, 70,0.3);
}

.hover-dot2{
    position: absolute;
    Top:5802px;
    left:630px;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 0px 15px rgba(197, 138, 70,0.3);
}

.hover-dot3{
    position: absolute;
    Top:5888px;
    Left:683px;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 0px 7px rgba(197, 138, 70,0.3);
}

.hover-dot4{
    position: absolute;
    Top:5880px;
    Left:768px;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 0px 7px rgba(197, 138, 70,0.3);
}

.hover-dot5{
    position: absolute;
    Top:5983px;
    Left:725px;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 0px 15px rgba(197, 138, 70,0.3);
}

.hover-dot6{
    position: absolute;
    Top:6080px;
    Left:609px;
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 0px 7px rgba(197, 138, 70,0.3);
}

.pop-up-hover{
    visibility: hidden;
    position: absolute;
    z-index: 10;
}

.embroidery{
    top: 5730px;
    left: 815px;
    width: 250px;
    padding: 40px;
    color: #50735F;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #fff;
}

.color{
    top: 5800px;
    left: 350px;
    width: 287px;
    padding: 40px;
    color: #50735F;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #fff;
}

.pocket{
    top: 5890px;
    left: 350px;
    width: 323px;
    padding: 40px;
    color: #50735F;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #fff;
}

.buttons{
    top: 5860px;
    left: 820px;
    width: 376px;
    padding: 40px;
    color: #50735F;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #fff;
}

.fabrics{
    top: 5960px;
    left: 790px;
    width: 376px;
    padding: 40px;
    color: #50735F;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #fff;
}

.certificates{
    top: 6040px;
    left: 290px;
    width: 334px;
    padding: 40px;
    color: #50735F;
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background: #fff;
}

.foot{
    width: 1440px;
    height: 375px;
    position: absolute;
    top: 6472px;
    background: #50735F;
}

.footer-leaf{
    position: absolute;
}

.footer-leaf1{
    top: -45px;
}

.footer-leaf2{
    Left:470px;
    top: 214px;
}

.footer-leaf3{
    Left:1370.96px;
    top: 77px;
}

.footer-logo{
    position: absolute;
    top: 233px;
    left: 103px;
}

.foot *{
    font-family: GT-Cinetype-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    /* text-align: center; */
    color: #fff;
    position: absolute;
}

.subscribe-text{
    width: 247px;
    left: 103px;
    top: 44px;
}

.foot-search{
    width: 319px;
    height: 54px;
    top: 100px;
    left: 103px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #fff8;
    background: #0000;
    padding: 20px;
}

.foot input[type="search"]::-webkit-input-placeholder {
    color: #fff8;
} 

.foot-btn{
    width: 131px;
    height: 54px;
    top: 100px;
    left: 421px;
    padding: 23px, 47px, 23px, 47px;
    border-radius: 0px 8px 8px 0px;
    gap: 10px;
    border: none;
    background: #C58A46;
}

.footer-three-house{
    Left:103px;
    top: 314px;
}
.foot-card{
    position: absolute;
}
.foot-card1{
    width: 73px;
    height: 208px;
    top: 46px;
    left: 740px;
}
.foot-card2{
    width: 67px;
    height: 104px;
    top: 46px;
    left: 873px;
}

.foot-card3{
    width: 128px;
    height: 156px;
    top: 46px;
    left: 1000px;
}

.foot-card4{
    width: 129px;
    height: 224px;
    top: 46px;
    left: 1188px;
}

.foot-li{
    position: relative;
    margin-top: 12px;
}

.foot-li img{
    position: relative;
}
.foot-card4 .foot-li{
    margin-top: 8px;
}

.dropdown{
    visibility: hidden;
}
.dropdown-menu-img{
    visibility: hidden;
}
.nav-img{
    width: 100px;
    height: 60px;
}

@media (max-width: 425px) and (min-width: 390px) {
    .special-offer {
        visibility: hidden;
    }
    .header{
        width: 420px;
        height: 465px;
        background-size: 210% 465px;
        background-repeat: no-repeat;
    }
    .nav-img{
        margin-top: 15px;
        margin-left: 30px;
        width: 60px;
        height: 40px;
    }
    .d-flex{
        position: absolute;
        top: -6px;
        right: -170px;
    }
    .d-flex p{
        visibility: hidden;
    }
    /* .dropdown-menu-img{
        visibility:visible;
        width: 30px;
        height: 30px;
        margin-top: -55px;
        margin-left: 270px;
    } */
    .nav-link{
        padding: 8px 6px 8px 6px;
        font-size: 10px;
    }
    .nav-link1{
        padding-top: 5px;
    }
    .container-fluid{
        margin-top: -40px;
    }
    .treehouse{
        margin: 10px 0px 0px 190px;
        font-size: 12px;
    }
    .little-clothes{
        margin: -10px 0px 10px 200px;
        font-size: 30px;
    }
    .big-impact{
        margin: -35px 0px 10px 210px;
        font-size: 30px;
    }
    .hed-par{
        margin: -10px 0px 10px 130px;
        font-size: 10px;
        width: 250px;
    }
    .hed-btn{
        position: absolute;
        padding: 8px 6px;
        font-size: 8px;
        top: 330px;
        left: 220px;
    }
    .arrow{
        width: 25px;
        height: 25px;
        position: absolute;
       left: 276px;
    }
    .arrow-img{
        position: absolute;
        top: -2px;
        left: 3px;
        width: 25px;
        height: 25px;
    }
    .buy-good{
        position: absolute;
        top: 70px;
        left: 10px;
        font-size: 10px;
    }
    .scroll{
        visibility: hidden;
    }
    .card1-welcome{
        top: 500px;
        left: 25px;
        font-size: 10px;
        z-index: 10;
    }
    .card1-treehouse {
        top: 500px;
        left: 25px;
        font-size: 20px;
    }
    .card1-mindfully{
        top: 540px;
        left: 25px;
        width: 205px;
        font-size: 10px;
        z-index: 10;
    }
    .card1-buttons {
        Top: 285px;
        Left: -180px;
        z-index: 10;
    }
    .read-more{
        width: 70px;
        z-index: 10;
    }
    .card1-arrow{
        margin-top: 2px;
        margin-left: 20px;
        height: 27px;
        width: 27px;
        z-index: 10;
    }
    .arrow-img1{
        margin-top: -7px;
        margin-left: -3px;
        width: 16px;
        height: 16px;
        z-index: 10;
    }
    .leaf{
        visibility: hidden;
    }
    .TreeHouse-img{
        visibility: hidden;
    }
    .child-img-card1{
        width: 250px;
        height:275px;
        top: 560px;
        left: 160px;
        z-index: 1;
    }
    .leaf-img-card1{
        width: 180px;
        height:220px;
        top: 650px;
        left: 100px;
        z-index: 2;
    }
    .phone-version-span1{
        color: #68947b;
    }
    .card2-our-care {
        top: 900px;
        left: 25px;
        font-size: 10px;
        z-index: 10;
    }
    .card2-prioritize{
        top: 920px;
        left: 25px;
        font-size: 20px;
        z-index: 10;
        width: 200px;
        line-height: 22px;
    }
    .li-card2-h4{
        font-size: 20px;
        font-weight: 700;
    }
    .card2-list{
        font-size: 25px;
        font-weight: 700;
    }
    .li-card2-1{
        top: 960px;
        left: 25px;
        font-size: 20px;
        z-index: 10;
    }
    .li-card2-p{
        position: absolute;
        width: 250px;
        left: 20px;
    }
    .li-card2-2{
        top: 1150px;
        left: 25px;
        font-size: 20px;
        z-index: 10;
    }
    .li-card2-3{
        top: 1310px;
        left: 25px;
        font-size: 20px;
        z-index: 10;
    }
    .li-card2-4{
        top: 1470px;
        left: 25px;
        font-size: 20px;
        z-index: 10;
    }
    .card2-list{
        font-family: Northwell;
    }
    .childs-card2{
        width: 65%;
        height: 30%;
        position: absolute;
        top: 1050px;
        left: 160px;
    }
    .art-girl-card2{
        visibility: hidden;
    }
    .magic-stick{
        visibility: hidden;
    }
    .planet-card2{
        width: 40%;
        height: 20%;
        top: 1580px;
        left: 200px;
    }
    .span1-card2{
        color: #415e4d;
    }
    .span2-card2{
        color: #68947b;
    }
    .shopping{
        top: 1780px;
        left: 100px;
        font-size: 12px;
    }
    .looking-for{
        left: 100px;
        top: 1800px;
        width: 210px;
        font-size: 25px;
        line-height: 28px;
        text-align: center;
    }
    .category-main2{
        left: 50px;
        top: 1880px;
        width: 85%;
        height: 25%;
    }
    .ul-main2{
        left: 0;
        top: 2120px;
        margin-left: 20px;
    }
    .li-main2:last-child{
        width: 100px;
    }
    .li-main2{
        font-size: 10px;
        margin: 10px;
        padding: 5px;
        line-height: 10px;
    }
    .li-active-main2{
         border: 2px solid #C58A46; 
    }
    .card2-main2{
        visibility: hidden;
    }
    .card1-main2{
        background-image: url(../img/main3-children.png);
        background-size: 100% 100%;
        width: 420px;
        height: 340px;
        top: 2200px;
        left: 0;
    }
    .lollipops{
        visibility: hidden;
    }
    .off-25{
        font-size: 30px;
        top: 40px;
        left: 180px;
    }
    .save-yourself{
        font-size: 10px;
        top: 20px;
        left: 120px;
        width: 200px;
    }
    .main3-button{
        top: -100px;
        left: -50px;
    }
    .shop-now{
        width: 70px;
        margin-right: 10px;
    }
    .arrow1{
        top: 331px;
        left: 295px;
    }
    .dresses{
        width: 40%;
        height: 45%;
        top: 280px;
        left: 130px;
    }
    .arrow2{
        left: 295px;
        top: 331px;
    }
}